@model MovieStop.ViewModels.CustomerFormViewModel

@{
    /**/

    /**/

    ViewBag.Title = "New Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New</h2>

@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.FirstName)
        @Html.TextBoxFor(m => m.Customer.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.LastName)
        @Html.TextBoxFor(m => m.Customer.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.LastName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Birthdate)
        @Html.TextBoxFor(m => m.Customer.Birthdate, "{0:MMM dd yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Birthdate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeID)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeID,
                                         new SelectList(Model.MembershipTypes, "Id", "Name"),
                                         "Select Membership Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeID)
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) Subscribed to Newsletter?
        </label>
    </div>
    @Html.HiddenFor(m => m.Customer.Id)
    <button type="submit" class="btn btn-success">Save</button>
}